<!DOCTYPE html>
<html style="height: 100vh; margin: 0px; padding: 0px">
  <head>
    <title>Account registered</title>
  </head>

  <!-- 
    TODO 
    Remove hardcoded link.
    Check openAI swagger and openAI in DRF.
    Use css class instead of attribute style.
    -->
  <body style="height: 100vh; margin: 0px; padding: 0px">
    <div
      style="
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
        "
      >
        <h1>The link have expired or been removed.</h1>
      </div>
    </div>
  </body>
</html>
